[Unit]
Description=NachoCoin's distributed currency daemon
After=network.target

[Service]
User=nachocoin
Group=nachocoin

Type=forking
PIDFile=/var/lib/nachocoind/nachocoind.pid

ExecStart=/usr/bin/nachocoind -daemon -pid=/var/lib/nachocoind/nachocoind.pid \
          -conf=/etc/nachocoin/nachocoin.conf -datadir=/var/lib/nachocoind

ExecStop=-/usr/bin/nachocoin-cli -conf=/etc/nachocoin/nachocoin.conf \
         -datadir=/var/lib/nachocoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
